<div class="services">
    <h4 id="services">Services</h4>
    <h5>Academic service</h3>
    <ul>
        <li>
            Conference PC member
            <ul>
                <li>AI area: AAAI (2023)</li>
                <li>DM area: KDD (2022); WWW (2024); WSDM (2024); CIKM (2024)</li>
            </ol>
        </li>
        <li>
            Journal reviewer
            <ul>
                <li>TKDE, Knowledge-Based Systems, Neurocomputing</li>
            </ol>
        </li>
    </ol>
</div>
